/* estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* logo de la barra de navegación */
.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

/* enlaces de navegacion */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px
}

.nav-links a:hover {
    color: #0073b1
}

/* boton de llamada a la acción CTA */
.nav-cta .cta-button {
    padding: 8px 15px;
    background-color: #0073b1;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px;
}

.nav-cta .cta-button:hover {
    background-color: #005582;
}