<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehiculos Hibridos</title>
    <!-- Enlace al archivo de estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styleBlock.css') }}">
</head>
<body>
    <!-- Solo se plasmo la estructura semantica -->
    <header class="navbar">
        <div class="logo">
            <a href="#">Movilidad Verde</a>
        </div>

        <nav class="navbarp">
            <ul class="navbarp-list">
                <li class="navbarp-item"><a href="{{ url_for('home') }}" class="navbarp-link">Inicio</a></li>
                <li class="navbarp-item"><a href="{{ url_for('electricos') }}" class="navbarp-link">Eléctricos</a></li>
                <li class="navbarp-item"><a href="{{ url_for('hibridos') }}" class="navbarp-link">Híbridos</a></li>
                <li class="navbarp-item"><a href="{{ url_for('e_fuel') }}" class="navbarp-link">E-Fuel</a></li>
                <li class="navbarp-item"><a href="{{ url_for('datos_comparativos') }}" class="navbarp-link">Datos comparativos</a></li>
            </ul>
        </nav>        

        <div class="nav-cta">
            <a href="#contacto" class="cta-button">Contacto</a>
        </div>
    </header>
    <main>
        <section>

        </section>
    </main>
    <article>

    </article>
    <aside>

    </aside>
    <footer>
        
    </footer>
</body>
</html>